.login{
&--list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    & div{
        background-color: #212738;
        padding: 20px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        margin: 0px 15px;
        display: flex;
        align-items: center;
        text-align: center;
    }
}    
}